:root{
--header-color:rgb(204, 204, 240);
--main-color:rgb(238, 223, 223);
--footer-color:rgb(238, 223, 223);
}

@media (max-width: 800px) {
    html { font-size: 10px; }
    }
body{
    margin: 0px;
    border: 0px;
    padding:0px;
}

#header{
    background: var(--header-color);
    text-align: center;
}

#headerImg{
    background: var(--header-color);
    width: 70rem;
}

main{
    background-color: var(--main-color);
    text-align: center;
}
/* .buttons{
    border: 2px solid black;
    text-align: center;
    font-family: comic-sans;
} */


section img{
    margin: 10px;
    /* width: 50px; */
    width: 5rem;
}

#snakeImg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#piongImg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    
    /* background: var(--main-color); */
}


h4,p{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}

/*BLOCKING DIV*/
#disableDiv {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 1;
    display: block;
  }
/*END BLOCKING DIV*/

/* POP UP WINDOW */
.popup{
    /* background-color: #ffffff; */
    background: var(--header-color);
    width: 320px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;

    z-index: 2; /*test for the block div*/
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
  margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup input{
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Comic Neue', cursive ;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

h2{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}
#username{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}
/*END POP UP WINDOW */