@media (max-width: 800px) {
    html { font-size: 10px; }
    }
body{
    margin: 0px;
    border: 0px;
    padding:0px;
}

#header{
    background: rgb(204, 204, 240);
    text-align: center;
}

#headerImg{
    background: rgb(204, 204, 240);
    /* width: 70%; */
    width: 70rem;
}

main{
    background-color: rgb(238, 223, 223);
    text-align: center;
}
.buttons{
    border: 2px solid black;
    text-align: center;
    font-family: comic-sans;
}

/* #headerImg{
    width: 50rem;
} */

section img{
    margin: 10px;
    /* width: 50px; */
    width: 5rem;
}

#snakeImg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#piongImg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

footer{
    text-align: center;
    margin-bottom: 0;
    /* background-color: rgb(238, 223, 223); */
}

.bgColor{
    background-color: rgb(32, 31, 31);
}

h4,p{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}

/* POP UP WINDOW */
.popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
  margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup input{
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Comic Neue', cursive ;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

h2{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}
#username{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}